@model FamilyGo.Models.Activity

@{
    ViewBag.Title = "INFORMATION";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>INFORMATION</h2>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
